**/__pycache__/
**/__cache__/
**/*.pyc
# **/.gitignore
**/draft.py
**/draft.ipynb
pattern/asynchronous.py
pattern/clientserver.py
pattern/pipeline.py
gpumanager/llmevalpool.py
gpumanager/multigpumanager.py
help/remind.py
# utils/iotools.py
utils/drawtools
utils/moduletools.py
utils/typetools.py


scheduling/_workspace_status.json
# scheduling/runner.py
# train
train/trainer/pretrain.py
train/dataset/pretrain.py
train/strategy/megatron

train/trainer/simpo_release.py
train/trainer/sft_release.py
train/trainer/base_release.py
utils/scheduling/cli/queueing.py
utils/scheduling/cli/takeover.py
train/dataset/pretrain.py
Loom_Train.egg-info

